/*----------------------------------------------------------------*\
		FONTS
\*----------------------------------------------------------------*/

@font-face {
	font-family: 'Trueno Light';
	src: url('../fonts/TruenoLt.ttf') format('truetype');
}

@font-face {
	font-family: 'Trueno';
	src: url('../fonts/TruenoRg.ttf') format('truetype');
}

@font-face {
	font-family: 'Trueno Bold';
	src: url('../fonts/TruenoBd.ttf') format('truetype');
}

/*----------------------------------------------------------------*\
		HEADERS
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
	font-family: 'Trueno Bold';
	color: var(--Blue);
}

h1 {
	font-size: 40px;

	&+h2 {
		font-size: 28px;
		font-family: 'Trueno';
		margin-top: -30px;
	}

	@media(--500vp) {
		font-size: 50px;

		&+h2 {
			font-size: 30px;
		}
	}
}

h2 {
	font-size: 22px;

	&+h3 {
		font-size: 22px;
		font-family: 'Trueno';
		margin-top: -28px;
	}

	@media(--500vp) {
		font-size: 30px;

		&+h3 {
			font-size: 24px;
		}
	}
}

h3 {
	font-size: 20px;

	&+h4 {
		font-size: 16px;
		font-family: 'Trueno';
		margin-top: -20px;
	}

	@media(--500vp) {
		font-size: 26px;

		&+h4 {
			font-size: 22px;
		}
	}
}

h4 {
	font-size: 18px;
	margin: 4em 0 1em;

	&+h5 {
		font-size: 16px;
		font-family: 'Trueno';
		margin-top: -18px;
	}

	@media(--500vp) {
		font-size: 22px;

		&+h5 {
			font-size: 16px;
		}
	}
}

/*----------------------------------------------------------------*\
		BODY
\*----------------------------------------------------------------*/

hr {
	border: 0;
	width: 100%;
	height: 2px;
	margin: .875em 0;
	background-color: var(--GreyDark);
}

p,
time,
address,
nav,
ul {
	color: var(--Blue);
	font-family: 'Trueno Light';
	font-size: 1em;
	line-height: 1.5;
}

strong,
b {
	font-family: 'Trueno';
}

p a {
	font-size: inherit;
	color: var(--Red);
	font-weight: bold;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/*----------------------------------------------------------------*\
		BLOCKQUOTE
\*----------------------------------------------------------------*/

blockquote {
	width: 95%;
	max-width: 800px;
	margin: 20px auto;
	padding: 1em;
	border-left: 3px solid var(--PurpleDark);

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& p {
		color: var(--Purple);
		font-size: 1.15em;

		&:last-of-type {
			font-family: 'Trueno';
			font-size: 1em;
			text-transform: uppercase;
		}
	}
}

/*----------------------------------------------------------------*\
		CODE EXAMPLES
\*----------------------------------------------------------------*/

code {
	font-size: .875em;
}