/*----------------------------------------------------------------*\
	BANNERS
\*----------------------------------------------------------------*/

section.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--Spacing) 0;
	position: relative;
	background: linear-gradient(to right, rgba(237, 53, 76, 1) 30%, rgba(189, 16, 39, 1) 70%);
	background-size: 200% 100%;
	animation: gradientmotion 8s ease-in-out infinite;

	&.no-description {
		&:nth-child(even) {
			padding: var(--Spacing) 0;
			background-color: var(--Red);
			clip-path: none;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 80%;
			height: 40px;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
			background: linear-gradient(to right, rgba(218, 39, 62, 1) 30%, rgba(235, 52, 76, 1) 70%);
			background-size: 200% 100%;
			animation: gradientmotion 16s ease-in-out infinite;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 30%;
			clip-path: polygon(0 0, 100% 55%, 100% 100%, 0 100%);
			background: linear-gradient(to right, rgba(218, 39, 62, 1) 31%, rgba(235, 52, 76, 1) 70%);
			background-size: 200% 100%;
			animation: gradientmotion 12s ease-in-out infinite;
		}
	}

	&>div:only-child {
		width: 800px;
		max-width: 80%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 3;

		@media(--500vp) {
			justify-content: space-between;
		}

		& h2 {
			color: var(--White);
			margin-top: 0;
			width: 100%;
			text-align: center;

			@media(--500vp) {
				max-width: calc(100% - 225px);
				text-align: left;
				margin: 0;
			}
		}
	}

	&.has-description {
		background: transparent;
		padding: var(--LargeSpacing);

		&>div {
			background: transparent;
			flex-wrap: wrap;
			width: var(--Width);

			& h2 {
				width: 100%;
				text-align: left;
				color: var(--Purple);
			}

			& div:first-of-type {
				width: 100%;

				@media(--800vp) {
					width: 65%;
				}

				& p {
					margin: 0;
				}
			}

			& div:last-of-type {
				width: 100%;
				text-align: left;
				margin: var(--Spacing) 0 0 0;

				@media(--800vp) {
					width: 35%;
					text-align: right;
					margin: 0;
				}
			}
		}
	}
}