/*----------------------------------------------------------------*\
	PAGE FOOTER
\*----------------------------------------------------------------*/

footer {
	background-color: var(--Grey);
	color: var(--Blue);
	padding: var(--Spacing);
	text-align: center;
	position: relative;
	padding: 125px 0 0;
	clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);

	&>div {
		max-width: var(--Width);
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 2em;

		@media(--1050vp) {
			margin-bottom: 0;
		}

		&>div {
			width: 100%;
			margin-bottom: 2em;

			@media(--1050vp) {
				width: 30%;
				margin-bottom: 0;
				display: flex;
			}

			&>a {
				display: inline-flex;

				& svg {
					display: block;
					height: 250px;
					width: 250px;
				}
			}
		}

		& section {
			width: 100%;
			text-align: center;
			padding: .5em 2em;

			@media(--800vp) {
				max-width: 40%;
				text-align: left;
			}

			@media(--1050vp) {
				max-width: 32%;
			}

			&:last-of-type {
				width: 100%;
				max-width: 100%;
				text-align: center;
				display: none;
				justify-content: center;
				padding: 3em 0;
				position: relative;
				margin-top: 4em;

				@media(--1050vp) {
					display: flex;
				}

				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 50%;
					height: 1px;
					background: var(--GreyDark);
					max-width: var(--Width);
					width: 100%;
					transform: translateX(-50%);
				}

				& nav {
					width: 100%;

					& ul {
						justify-content: space-between;

						& li {
							margin: 0 1em;

							&:first-of-type {
								margin-left: 0;
							}

							&:last-of-type {
								margin-right: 0;
							}

							& a {
								border: none;
								color: var(--Purple);
								text-transform: uppercase;
								font-family: 'Trueno Bold';
							}
						}
					}
				}
			}

			& h4 {
				color: var(--Purple);
				display: none;
				margin-bottom: 0;

				@media(--800vp) {
					display: block;
				}
			}

			& p {
				display: none;

				@media(--800vp) {
					display: block;
				}
			}

			&.legal {
				max-width: var(--Width);
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				padding: 0;
				margin-top: 0;
				font-size: 14px;

				@media(--800vp) {
					justify-content: space-between;
				}

				&::after {
					display: none;
				}

				& nav {
					margin-right: 0;
					width: auto;

					@media(--800vp) {
						margin-right: 1em;
					}

					& ul {
						display: flex;
						justify-content: center;

						& li {
							margin: 0;

							& a {
								color: var(--Blue);
								text-transform: inherit;
								font-family: Trueno Light;
								border-right: 1px solid var(--Blue);
							}
						}
					}
				}

				& p {
					margin: .5em 0 0;
					display: block;
					width: 100%;

					@media(--800vp) {
						margin: 0;
						width: auto;
					}
				}

				& .element5-credit {
					@media(--800vp) {
						margin-left: auto;
					}
				}
			}

			& nav {
				& ul {
					margin: 0;
					padding: 0;
					list-style: none;

					@media(--500vp) {
						display: flex;
						justify-content: center;
					}

					& li:last-child a {
						border: none;
					}

					& a {
						color: var(--Blue);
						padding: 0 .35em;
						text-decoration: none;

						@media(--500vp) {
							border-right: 1px solid var(--Blue);
						}

						&:hover,
						&:focus {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	& .copyright {
		background-color: #E9E6F1;
		max-width: 100%;
		padding: 10px;
		margin-bottom: 0;
	}
}