/*----------------------------------------------------------------*\
		GALLERIES
\*----------------------------------------------------------------*/

section.gallery {
	width: 90%;
	max-width: var(--Width);
	text-align: center;
}

.gallery-items {
	width: 100%;
	max-width: 1024px;
	margin: 25px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
	grid-gap: 16px;

	& img {
		width: 100%;
		height: auto;
		display: block;
	}

	@media(--500vp) {
		grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
	}

	@media(--800vp) {
		grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
	}
}

.featherlight-content {
	min-width: 300px;
	min-height: 300px;

	& img {
		position: relative;
		z-index: 5;
	}

	& span {
		z-index: 10;
	}

	&::after {
		content: '';
		width: 120px;
		height: 120px;
		position: absolute;
		top: calc(50% - 60px);
		left: calc(50% - 60px);
		background-image: url(../images/loading.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		animation: rotation 2s infinite linear;
	}
}