section.icon-cards {
	&>div {
		max-width: var(--Width);
		width: 90%;
		margin: var(--LargeSpacing) auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	& .card {
		width: 100%;
		padding: 25px;
		position: relative;
		margin-bottom: var(--Spacing);

		&>div {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		&:last-child {
			margin-bottom: 0;
		}

		@media(--800vp) {
			width: 48%;
			padding: 25px var(--Spacing);

			&:last-child,
			&:nth-last-child(2) {
				margin-bottom: 0;
			}
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& img {
			max-width: 45px;
		}

		& h3 {
			color: var(--Purple);
			font-size: 20px;
			margin-left: 1em;
			width: calc(100% - 45px - 1em);
		}

		& a.button {
			padding-left: 0;
			padding-bottom: 0;
			text-transform: none;
		}
	}
}