section.icon-slider,
section.client-slider {

	& h2 {
		text-align: center;
		font-size: 1.25em;
		margin-bottom: var(--Spacing);
	}

	& .slick-track {
		display: flex;
		align-items: center;
	}

	& .icons,
	& .client-icons {
		width: var(--LargeWidth);
		max-width: 95%;
		margin: 0 auto;

		& .icon {
			padding: 0 1em;

			& img {
				margin: 0 auto;
			}
		}
	}
}