section.video-background {
	max-height: 500px;
	margin-top: -100px;
	overflow: hidden;
	padding: 0 !important;

	& .video-wrap {
		@media(--800vp) {
			margin-top: -100px;
		}

		& video {
			width: 100%;
		}
	}

	&+section {
		clip-path: none !important;
		background-color: var(--Grey) !important;
		padding: 100px 0 50px !important;

		&>div {
			display: flex;
			justify-content: center;
			max-width: var(--SmallWidth);
		}
	}
}