section.wysiwyg-block {
	&.header-footer {
		&>div {
			&>h2 {
				width: 100%;
			}

			&>div {
				&:nth-of-type(2) {
					&>:first-child {
						margin-top: 0;
					}
				}

				&:last-of-type {
					width: 100%;
					margin-top: 2em;
				}
			}
		}
	}

	&>div {
		max-width: var(--Width);
		width: 90%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		&>div {
			width: 100%;

			@media(--500vp) {
				width: 45%;
			}

			&:first-of-type {
				&>*:first-child {
					margin-top: 0;
				}

				&>*:last-child {
					margin-bottom: 0;
				}
			}

			&:last-of-type {
				@media(--500vp) {
					&>*:first-child {
						margin-top: 0;
					}

					&>*:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}