/*----------------------------------------------------------------*\

		PROCESSOR: POSTCSS
			http://postcss.org/
		SYNTAX: CSSNEXT
			http://cssnext.io/
		NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
			http://thesassway.com/advanced/modular-css-naming-conventions
		CSSSTYLE: TABS
			http://www.sublimetext.com/docs/indentation
		CSS BASE: NORMALIZE
			https://necolas.github.io/normalize.css/
		FRAMEWORK: CSS GRID & FLEXBOX
			https://css-tricks.com/snippets/css/complete-guide-grid/
			https://css-tricks.com/snippets/css/a-guide-to-flexbox/

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
		VARIABLES
\*----------------------------------------------------------------*/

:root {
	/* SIZING */
	--SmallWidth: 600px;
	--Width: 1024px;
	--LargeWidth: 1300px;
	--LargeSpacing: 60px;
	--Spacing: 44px;
	--SmallSpacing: 15px;
	/* COLORS */
	--Blue: #1B1C7C;
	--Purple: #6F7CE3;
	--PurpleDark: #8F8CF1;
	--Red: #EF3249;
	--RedDark: #B6053A;
	--White: #FFFFFF;
	--GreyLight: #f7f5fa;
	--Grey: #EEEBF5;
	--GreyDark: #979797;
	--Black: #000000;
}

/*----------------------------------------------------------------*\
		MEDIA QUERIES IN CORRECT ORDER
\*----------------------------------------------------------------*/

@custom-media --500vp (min-width: 500px);
@custom-media --800vp (min-width: 800px);
@custom-media --1050vp (min-width: 1050px);
@custom-media --1200vp (min-width: 1200px);

div {
	@media(--500vp) {
		box-sizing: inherit;
	}

	@media(--800vp) {
		box-sizing: inherit;
	}

	@media(--1050vp) {
		box-sizing: inherit;
	}

	@media(--1200vp) {
		box-sizing: inherit;
	}
}

/*----------------------------------------------------------------*\
		UNIVERSAL BOX-SIZING
\*----------------------------------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 16px;
	background: var(--White);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/*----------------------------------------------------------------*\
		WORDPRESS CLASSES
\*----------------------------------------------------------------*/

section {

	& img {
		max-width: 100%;
		height: auto;

		&.alignleft {
			float: left;
			margin: 1em 1em 1em 0;
		}

		&.alignright {
			float: right;
			margin: 1em 0 1em 1em;
		}

		&.aligncenter {
			display: block;
			margin: 1em auto;
		}
	}
}

/*----------------------------------------------------------------*\
		CENTER CONTAINERS
\*----------------------------------------------------------------*/
#wp-admin-bar-autoptimize,
#wp-admin-bar-gform-forms,
#wp-admin-bar-customize {
	display: none;
}

section {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}
}

.page-template-form {
	& section.cards .card a.button {
		&::before {
			content: '';
			width: 22px;
			height: 22px;
			display: inline-block;
			float: left;
			margin-top: -3px;
			margin-right: .5em;
			background-image: url(../images/phone-icon.svg);
			background-size: contain;
			background-position: 50%;
			background-repeat: no-repeat;
			background-color: transparent;
			margin-left: .5em;
			transition: none;
			transform: none;
			position: relative;
			right: 0;
			left: 0;
			opacity: 1;
		}
	}
}