/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE ABOUT PAGE

\*----------------------------------------------------------------*/
.page-about {
	& .default-template {
		background-color: var(--Grey);
	}

	& section.wysiwyg-block {
		&:first-of-type {
			margin-top: -100px;
			padding-top: 150px !important;
		}

		&:last-of-type {
			background-color: var(--White);

			& h2 {
				width: 100%;
				text-align: center;
			}

			&>div {
				&>div {
					width: 100%;

					& form {
						max-width: 800px;
						margin-top: 4em;

						& li {
							margin-left: 0;
							margin-right: 0;
							width: 100%;
						}

						& li.half {
							width: 100%;
							margin-left: 0;
							margin-right: 0;

							@media(--800vp) {
								width: 47%;
								margin-left: 0;
								margin-right: 3%;
							}
						}

						& li.half.last {

							@media(--800vp) {
								margin-right: 0;
								margin-left: 3%;
							}
						}

						& input {
							background-color: var(--Grey);
							border-color: var(--Grey);
						}

						& .gfield_radio,
						& .gfield_checkbox {
							& input {
								&:checked {
									background-color: var(--Purple);
									border: 5px solid var(--Grey);
								}
							}
						}

						& select {
							background-color: var(--Grey);
						}
					}
				}
			}
		}
	}

	& section.team-members {
		clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%) !important;
		padding: 150px 0 50px !important;
	}

	& .banner.has-description {
		padding: var(--LargeSpacing) 0;
		background: linear-gradient(to right, rgba(237, 53, 76, 1) 30%, rgba(189, 16, 39, 1) 70%);

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 80%;
			height: 40px;
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
			background: linear-gradient(to right, rgba(218, 39, 62, 1) 30%, rgba(235, 52, 76, 1) 70%);
			background-size: 200% 100%;
			animation: b 16s ease-in-out infinite;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 30%;
			-webkit-clip-path: polygon(0 0, 100% 55%, 100% 100%, 0 100%);
			clip-path: polygon(0 0, 100% 55%, 100% 100%, 0 100%);
			background: linear-gradient(to right, rgba(218, 39, 62, 1) 31%, rgba(235, 52, 76, 1) 70%);
			background-size: 200% 100%;
			animation: b 12s ease-in-out infinite;
		}

		& h2 {
			margin-bottom: 1em;
			color: var(--White);
		}

		& p {
			color: var(--White);
		}

		& a.button {
			background-color: transparent;
			border-color: var(--White);
			color: var(--White);

			&:hover,
			&:focus,
			&:active {
				color: var(--Red);

				&::before {
					background-image: url(../images/button-arrow-red.svg);
				}

				&::after {
					background: var(--White);
				}
			}
		}
	}

	& section.icon-cards {
		clip-path: none !important;
		padding: 100px 0 50px !important;

		& h2 {
			text-align: center;
		}

		&>div {
			margin-bottom: 0;

			& .card {
				margin-bottom: 1em;
			}
		}
	}
}

#apply-online {
	margin-top: -4em;
}