/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO ARCHIVES

\*----------------------------------------------------------------*/

.feed {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: var(--LargeWidth);
}

/*----------------------------------------------------------------*\
	INFINITE SCROLL
\*----------------------------------------------------------------*/

.page-load-status,
.navigation.pagination {
	display: none;
	text-align: center;
}

body.post-type-archive {
	background-color: var(--White);
}

section.infinite-scroll {
	padding: 0 0 4em !important;
	clip-path: none !important;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	& .page-load-status {
		width: 100%;
	}
}