/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE FEATURES PAGE

\*----------------------------------------------------------------*/
.page-features {
	& .default-template {
		background-color: var(--Grey);
	}

	& .wysiwyg-block {
		& h4 {
			color: var(--Purple);
		}
	}

	& .icon-slider {
		clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%) !important;

		& h2 {
			max-width: var(--SmallWidth);
			margin-left: auto;
			margin-right: auto;
		}
	}

	& .cards {
		clip-path: none !important;
		position: relative;
		z-index: 1;

		& h2 {
			text-align: center;
			padding-bottom: 2em;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				height: 1px;
				background: var(--GreyDark);
				max-width: var(--Width);
				width: 100%;
				transform: translateX(-50%);
			}
		}

		&>div {
			& .card {
				width: 100%;
				margin: 2em auto !important;

				@media(--500vp) {
					width: 80%;
				}

				@media(--1050vp) {
					width: 32%;
				}
			}
		}
	}

	& .banner.has-description {
		padding: var(--LargeSpacing) 0;
		background: linear-gradient(90deg, #FCD669 30%, #E9AC4D 70%);

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 80%;
			height: 40px;
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
			background: linear-gradient(90deg, #FCD669 30%, #E9AC4D 70%);
			background-size: 200% 100%;
			animation: b 16s ease-in-out infinite;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 30%;
			-webkit-clip-path: polygon(0 0, 100% 55%, 100% 100%, 0 100%);
			clip-path: polygon(0 0, 100% 55%, 100% 100%, 0 100%);
			background: linear-gradient(90deg, #FCD669 31%, #E9AC4D 70%);
			background-size: 200% 100%;
			animation: b 12s ease-in-out infinite;
		}

		& h2 {
			margin-bottom: 1em;
			color: var(--Blue);
		}

		& a.button {
			border-color: var(--Red);
			background-color: var(--Red);

			&::before {
				display: none;
			}

			&::after {
				background: var(--RedDark);
			}

			&:hover,
			&:focus,
			&:active {
				border-color: var(--RedDark);
				color: var(--White);
			}
		}
	}
}