/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE PARTNERS PAGE

\*----------------------------------------------------------------*/
.page-partner {
	& .icon-slider {
		margin-bottom: 100px;

		& h2 {
			max-width: var(--SmallWidth);
			margin-left: auto;
			margin-right: auto;
		}
	}
}