/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE SERVICES PAGE

\*----------------------------------------------------------------*/
.page-services {
	& .default-template {
		background-color: var(--Grey);

		& .image-cards {
			margin-top: -100px;
			padding-top: 150px;

			&>div {
				& .card {
					padding: 0;

					&::after {
						display: none;
					}

					&>div {
						padding: 25px var(--Spacing);

						&:first-of-type {
							background-position: center;
							background-repeat: no-repeat;
							background-size: cover;
							width: 100%;
							height: 200px;
						}
					}
				}
			}
		}

		& .icon-slider {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

			& h2 {
				max-width: var(--SmallWidth);
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}