/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE SINGLE SUCCESS POST 

\*----------------------------------------------------------------*/
body.single-successstory {
	background-color: var(--White);

	& .wysiwyg-block {
		&:nth-child(2) {
			background-color: var(--Grey);
			clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
			padding: 100px 0 150px;

			&>div {
				align-items: center;
			}
		}

		&:nth-child(3) {
			padding: 50px 0 100px;
		}

		&:nth-child(4) {
			background-color: var(--Grey);
			clip-path: none;
			padding: 100px 0;
		}

		&:nth-child(5) {
			padding: 100px 0;
			text-align: center;

			&::after {
				display: none;
			}
		}
	}

	& .wysiwyg-block:nth-child(odd) {
		&>div {
			justify-content: center;
			max-width: var(--SmallWidth);
		}
	}

	& h2.related {
		text-align: center;
		position: relative;
		padding-bottom: 2em;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			height: 1px;
			background: var(--GreyDark);
			width: var(--Width);
			max-width: 95%;
			transform: translateX(-50%);
		}
	}
}