/*----------------------------------------------------------------*\
		NAVIGATION
\*----------------------------------------------------------------*/

.navigation-wrap {
	display: flex;
	justify-content: center;
	z-index: 1000;
	position: absolute;
	margin: 0 auto;
	width: 100%;

	&.is-fixed {
		width: 100%;
		height: 69px;
		position: fixed;
		border-bottom: 1px solid var(--Grey);
		background-color: var(--White);
		transition: top .35s ease-in-out;

		@media(--1050vp) {
			height: 73px;
		}
	}

	& nav.navigation-block {
		max-width: var(--LargeWidth);
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 95%;
		margin: 10px auto;
		z-index: 1000;
		transition: top .35s ease-in-out;

		@media(--500vp) {
			margin: var(--SmallSpacing) auto;
		}

		&.is-fixed {
			position: fixed;
			padding: 8px 0;
			margin: 0 auto;
			border-bottom: 1px solid var(--Grey);
			background-color: var(--White);

			& svg {
				fill: var(--Red);
				height: 50px;
				width: 160px;
			}

			& nav.primary ul li.active {
				& a::after {
					@media(--1050vp) {
						content: '';
						height: 4px;
						width: 100%;
						background: #F0CD66;
						position: absolute;
						bottom: -20px;
						left: 0;
						transition: all .25s ease-in-out;
					}
				}
			}

			& nav.primary ul li a {
				@media(--1050vp) {
					color: var(--Purple);
				}

				&::after {
					@media(--1050vp) {
						content: '';
						height: 4px;
						width: 0;
						background: #F0CD66;
						position: absolute;
						bottom: -20px;
						left: 0;
						transition: all .25s ease-in-out;
					}
				}

				&:hover,
				&:focus,
				&:active {
					&::after {
						@media(--1050vp) {
							width: 100%;
						}
					}
				}
			}

			& a.button {
				border-color: var(--Purple);
				color: var(--Purple);
				padding: .65em 1em;

				&::before {
					background-image: url(../images/button-arrow-purple.svg);
				}

				&:hover,
				&:focus {
					color: var(--White);

					&::before {
						background-image: url(../images/button-arrow.svg);
					}
				}
			}

			& button {
				border-color: var(--Purple);

				@media(--800vp) {
					padding: 19px 13px;
				}

				& .hamburger-menu,
				& .hamburger-menu::after,
				& .hamburger-menu::before {
					background: var(--Purple);
				}

				& .hamburger-menu.is-active {
					background-color: rgba(255, 255, 255, 0);
				}
			}
		}

		& svg {
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-top;
			height: 50px;
			width: 160px;
			fill: var(--White);

			@media(--500vp) {
				height: 65px;
				width: 200px;
			}
		}

		& a.button {
			padding: .5em 1.5em;
			margin-left: 2em;

			@media(--800vp) {
				padding: 1em 2em;
			}

			&::before {
				margin-top: 6px;
				display: none;

				@media(--800vp) {
					display: inline-block;
				}
			}

			&::after {
				background-color: var(--Purple);
			}

			&:hover,
			&:focus {
				border-color: var(--Purple);
				color: var(--White);

				&::before {
					background-image: url(../images/button-arrow.svg);
				}
			}

			& span {
				display: none;

				@media(--800vp) {
					display: inline-block;
				}
			}
		}

		& button {
			background-color: transparent;
			border-color: var(--White);
			border-radius: 50%;
			padding: 17px 11px;
			margin: .25em 0 .25em 1em;

			@media(--800vp) {
				padding: 24px 18px;
			}

			@media(--1050vp) {
				display: none
			}

			&:hover,
			&:focus,
			&:active {
				border-color: var(--Purple);

				&::after {
					transform: none;
				}
			}
		}

		& a:first-child {
			margin-right: auto;
			z-index: 5;
		}
	}
}

/*----------------------------------------------------------------*\
		NAVIGATION PRIMARY
\*----------------------------------------------------------------*/
nav.primary {
	position: fixed;
	top: 0;
	right: 0;
	transform: translateY(-200%);
	transition: all .35s ease-in-out;
	height: 100vh;
	width: 100vw;
	display: none;

	@media(--1050vp) {
		transform: inherit;
		position: relative;
		height: auto;
		width: auto;
		display: block;
	}

	&.mobile {
		display: block;

		@media(--1050vp) {
			display: none;
		}
	}

	&.is-active {
		transform: translateY(0);
		background-color: #20267F;
	}

	& ul {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		list-style-type: none;
		padding: 0;

		@media(--1050vp) {
			flex-direction: inherit;
			justify-content: space-between;
			height: auto;
		}

		& li {
			margin: 1em;

			@media(--1050vp) {
				margin: 0 1em;
			}

			@media(--1200vp) {
				margin: 0 2em;
			}

			&.active a {
				&::after {
					@media(--1050vp) {
						content: '';
						height: 4px;
						width: 100%;
						background: #F0CD66;
						position: absolute;
						bottom: -20px;
						left: 0;
						transition: all .25s ease-in-out;
					}
				}
			}

			& a {
				color: #9FA7DC;
				font-family: 'Trueno Bold';
				font-size: 14px;
				text-transform: uppercase;
				text-decoration: none;
				position: relative;

				@media(--1050vp) {
					color: var(--White);
				}

				&::after {
					@media(--1050vp) {
						content: '';
						height: 4px;
						width: 0;
						background: #F0CD66;
						position: absolute;
						bottom: -20px;
						left: 0;
						transition: all .25s ease-in-out;
					}
				}

				&:hover,
				&:focus,
				&:active {
					&::after {
						@media(--1050vp) {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		HAMBURGER MENU
\*----------------------------------------------------------------*/
.hamburger-menu,
.hamburger-menu::after,
.hamburger-menu::before {
	width: 14px;
	height: 1px;
}

.hamburger-menu::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 6px;
	background: var(--White);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu::after {
	content: "";
	position: absolute;
	left: 0;
	top: 6px;
	background: var(--White);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu {
	display: block;
	position: relative;
	z-index: 11;
	background: var(--White);
	transition: all 0ms 300ms;
	float: right;
	order: 1;

	@media(--1050vp) {
		display: none
	}
}

.hamburger-menu.is-active {
	background-color: rgba(255, 255, 255, 0);
}

.hamburger-menu.is-active::after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.is-active::before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}